# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\www\c01 assginments\C01A1Testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
